{%  extends "events/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}


{% block body %}

    <div class="col-xl-1 hidden-sm-down">

        <div class="row">

            <div class="col-xl-12">

                <div class="space3d">
                    <div class="world3d shadow">
                        <a href="/mamasound/shop/mamapass">
                            <img src="{{ asset('images/mamapass.jpg') }}" width="100%">
                        </a>
                    </div>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="newEvent()">
                            <i class="fa fa-music"></i>&nbsp; new
                        </button>
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="newEvent()">
                            <i class="fa fa-picture-o"></i>&nbsp; new
                        </button>
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="newEvent()">
                            <i class="fa fa-sign-language"></i>&nbsp; new
                        </button>
                    </div>
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="newGroup()">
                            <i class="fa fa-users"></i>&nbsp; new
                        </button>
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="">
                            <i class="fa fa-ellipsis-v "></i>&nbsp; liste
                        </button>
                    </div>
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="newPlace()">
                            <i class="fa fa-map-marker"></i>&nbsp; new
                        </button>
                        <button class="btn btn-primary btn-block btn-text-left rounded-0" onclick="">
                            <i class="fa fa-ellipsis-v "></i>&nbsp; liste
                        </button>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>

    <div class="col-xl-7">
        <div class="row" id="center">
            <h1>loading ..</h1>
        </div>
    </div>



    <div class="col-xl-4 east">
        <!-- calendrier -->
        <div class="row">
            <div class="col-xl-12">
                <div class="calendrier">
                    <div class="datepicker-here " data-language='fr'></div>
                </div>
            </div>
        </div>
        <!-- événement -->
        <div class="row " id="event_detail_small"></div>
        <!-- carte -->
        <div class="row">
            <div class="col-xl-12">
                <div class="map shadow">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>
        <!-- lieu -->
        <div class="row" id="place-detail-small"></div>
    </div>


{% endblock %}