{%  extends "events/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}


{% block body %}

    <div class="west col-lg-3 ">

        <div class="container">
            <div id="sidebar">

                <div class="row datepicker-here " data-language='fr'></div>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <button class="col-lg-offset-6 col-lg-6 btn"
                                type="button"
                                onclick="newEvent()">
                            Add Event
                        </button>
                    </div>
                {% endif %}

                <div id="ad" class="row">
                    <div class="col-lg-6" >
                        <div class="space3d">
                            <div class="world3d shadow">
                                <a href="/mamasound/shop/mamapass">
                                    <img src="{{ asset('images/mamapass.jpg') }}" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div id="center">
            <h1>loading ..</h1>
        </div>
    </div>



    <div class="east col-lg-3">
        <div class="container">
            <div id="sidebar">
                <div class="row">
                        <div class="map col-sm-12 shadow">
                            <div id="mapid"></div>
                        </div>

                </div>

                <div id="place-detail-small"></div><br>

                <div id="event_detail_small"></div><br>



            </div>
        </div>
    </div>


{% endblock %}