<h1>Nouvel artiste</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<div class="row">
    <button class="btn"
            type="button"
            onclick="listEvents()">
        Retour aux événements
    </button>
</div>
