<div class="group-full">

    {%  if (groupe.image is not null) and (groupe.image.url is not null) %}
        <img class="photo-desc" src="../../images/{{ groupe.image.url }}">
    {% else %}
        <img class="photo-desc" src="{{ asset('images/photo_group.png') }}">
    {% endif %}

    <article>
        <h4>{{ groupe.name }}</h4>
        <text class = "desc">{{ groupe.article }}</text>
    </article>
</div>