/********************************
    DATEPICKER
********************************/
.datepicker {
    background: none;
    border: none;
    min-width: 400px;
}
.datepicker--nav{
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 1px;
    border: none;
}

.datepicker--cell {
    //height: 2em;
//color: #fff4f6;
    color: white;
    font-family: 'Montserrat-Thin';
    font-size: 125%;
    border-radius: 0;
    height: auto;
    padding-top: 30%;
}

.datepicker--day-name {
    color: #d4d4d4;
    font-family: 'Montserrat-Regular';
    font-size: 100%;
}

.datepicker--content,
.datepicker--time{
    background: rgba(0, 0, 0, 0.8);
}

.datepicker--cell.-current-{
    color: white;
    font-family: 'Montserrat-Regular';

}

.datepicker--nav-title{
    font-family: 'Montserrat-Regular';
    font-size: 125%;

}