@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Hamster';
    src: url('../fonts/Hamster.otf');
}

@font-face {
    font-family: 'Delphine';
    src: url('../fonts/Delphine.ttf');
}

@font-face {
    font-family: 'Essays1743';
    src: url('../fonts/Essays1743.ttf');
}

@font-face {
    font-family: 'FranlinGothic';
    src: url('../fonts/ITCFranklinGothicStd-Book.otf');
}

body {
    padding-top: 20px;
    //background: #554466 url("../images/background_expo.png") center;
    //background: #ffffc8 url("../images/entete_google_play.jpg") center;
    //background: #a5a5a5; //url("../images/entete_google_play.jpg") center;
    background: #554466 url("../images/expos/expo-02.jpg") center;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.starter-template {
    padding: 100px 15px;
    text-align: left;
}


.photo-desc{
    float: left;
    clear:both;

    width: 30%;
    height: auto;
    margin-bottom: 8px;
}

.desc{
    background-color: rgba(255, 255, 255, 0.91);
    float: left;

    font-family: 'Essays1743';
    font-size: 140%;
    color: #35364c;
    padding: 80px;

    text-align: justify;
}

h4 {
    transform: skewY(-5deg);
    float:left;

    font-family: 'Essays1743';
    color: #35364c;
    font-size: 300%;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 16px;
    text-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 2px #555;
    padding-top: 80px;
}

.menu-item {
    font-family: 'Delphine';
    font-size: 200%;
    color: whitesmoke;
    text-shadow: 1px 1px 4px #554466;
}

h2 {
    font-family: 'Essays1743';
    color: lightgray;
    font-size: 250%;
    background-color: #555;
    padding: 16px;
    text-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 2px #555;
    padding-left:150px;
    margin-top: 40px;
}



h3 {
    font-size: 120%;
    padding: 0;
    margin: 0 0 5px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.navbar-header {
    float: left;
    clear: right;
}

.navbar-fixed-top {
    //height: 128px; /* Whatever you want. */
    background-color: rgba(0, 0, 0, 0.9);

}

.navbar-east {
    float: left;
}

.navbar-east-radio {
}

/********************************
    MAIN PANELS
********************************/
.scene3d {
}

.west {
}

.events {
}

.east {
}

/********************************
    DATEPICKER
********************************/
.datepicker-here {
}

.datepicker-here > div{
    //box-shadow: 16px 16px 4px rgba(0, 0, 0, 0.75);
}

.datepicker-here > div:hover{
}
/********************************
    MAMAPASS [+]
********************************/
#mamapass {
    margin-top: 20px;
    perspective:500px;
}

#mamapass div{
    transform:
            translateZ(-50px)
            rotateY(45deg)
            scale3d(.9, .9, .9);
    transition:all 300ms ease-in;
}

#mamapass div:hover{
    transform: rotateY(350deg);
    transition:all 150ms ease-out;
}

#mamapass div a img {
    box-shadow: 16px 16px 4px rgba(0, 0, 0, 0.75);
}
/********************************
    EVENT CELL
********************************/

.event-cell-view {
    perspective: 1000px;
    padding: 0;
    margin-bottom: 4px;
}

.event {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-flex;
    clear: both;
    border-style: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    min-height: 50px;
}

.event:hover{
    //transform: skewX(2deg);
}

.event-info{
    font-family: 'Essays1743';
    font-size: 150%;
}

.event-style-free{
    font-family: 'Essays1743';
    font-size: 120%;
}

.music-event{
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.5);
    transition:all 750ms ease-out;
}

.music-event:hover{
    box-shadow: 0px 0px 16px rgba(255, 0, 0, 0.9);
    background: rgba(255, 245, 245, 1);
    transition:all 0ms ease-in;
}

.theatral-event{
    box-shadow: 0px 0px 4px rgba(0, 0, 255, 0.5);
    transition:all 750ms ease-out;
}

.theatral-event:hover{
    box-shadow: 0px 0px 16px rgba(0, 0, 255, 0.9);
    background: rgba(245, 245, 255, 1);
    transition:all 0ms ease-in;
}

.exposition-event{
    box-shadow: 0px 0px 4px rgba(0, 255, 0, 0.5);
    transition:all 750ms ease-out;
}

.exposition-event:hover{
    box-shadow: 0px 0px 16px rgba(0, 255, 0, 0.9);
    background: rgba(245, 255, 245, 1);
    transition:all 0ms ease-in;
}

.event-start-big {
    font-size: 125%;
    color: #2e3450;
    text-align: center;
    padding: 0;
}

.event-style {
    background-color: lightgray;
    text-align: center;
}

.event-style-concert {
   // clear: both;
    background-color: #ff3333;
    background-color: #808080;
    text-align: center;
    padding: 0;
    padding-left: 1.5%;
    margin-left: 2px;
    font-family: 'Essays1743';

}

.event-style-expo {
    background-color: rgba(0, 255, 0, 0.5);
    text-align: center;
    padding: 0;
}

.event-style-theatre {
    background-color: #b89bff;
    text-align: center;
    padding: 0;
}

.event-place {
    float: right;
    padding: 5px;
    margin: auto 10px;
    text-align: right;
}

/********************************
    GROUP
********************************/
.group {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 2px #555;
}

#scene3D div{
    perspective:800px;
    transform:
            translateZ(-2000px)
            rotate3d(-2, 2, .5, -50deg)
            scale3d(.8, .8, .8);
    filter: blur(16 px);
    transition:all 200ms ease-in;
}

#scene3D div:hover{
    perspective:800px;
    filter: blur(0px);
    transform: rotate3d(0,0,0,0deg);
    transition:all 200ms ease-out;
}

.group-small {
    //position: fixed;
    //height: auto;
    background-color: white;
    padding: 8px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.84);
    transition:all 200ms ease-out;
}

.group-small div:hover{
    top: 540px;
    right: 260px;
    position: fixed;
    float: left;
    width: 500px;
    height: auto;
    margin-top: 120px;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 2px #555;
}

.photo-group {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

/********************************
    PLACE
********************************/
.placeInfo {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 2px #555;
}

.placeInfo-small {
    background-color: white;
    padding: 8px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.84);
    //position: fixed;

}

/********************************
    MAP
********************************/
.map{
    padding: 8px;
    background-color: white;
    margin-bottom: 20px;
}

#mapid {
    height: 400px;
}

.place-sm-photo {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.dateBig {
    color: white;
    font-size: 120%;
}

.footer{
    height: 100px; /* Whatever you want. */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.81);
    bottom: -100px;
}

.title-footer {
    color: lightgray;
    float: right;
    text-align: right;
    background: none;
    box-shadow: none;

}

.logo-color{
    margin-right: 20px;
    width: 64px;
    height: auto;
    float: right;
    padding-top: 20px;
}

#audioplayer{
    margin: 5px;
}

 #playRadioButton{
     //height:100%;
     //width: 100%;
     border: none;
     background-size: 100% 100%;
     background-position: center;
 }

.play{
    background: url('../images/radio_off.png') no-repeat;
    //background-size: 100% 100%;

    width: 50px;
    height: 50px;
}

.pause{background: url('../images/radio_on.png') no-repeat;
    width: 50px;
    height: 50px;
}

