<h2>Nouveau lieu</h2>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

<div class="row">
	<button class="btn"
			type="button"
			onclick="listEvents()">
		Retour aux événements
	</button>
</div>

<script>
	// based on: http://codepen.io/tcannonfodder/pen/avJyRJ
	// based on: http://stackoverflow.com/a/9622978
	$('form[name="place"]').submit(function(e) {
		center_div = $('#center');
		e.preventDefault();
		var form = e.target;
		var data = new FormData(form);
		$.ajax({
					url: $(this).attr("action"),
					method: "POST",
					processData: false,
					contentType: false,
					data: data
				})
				.done(function (data){
					center_div.html(data);
				});
	});
</script>