<div class="row placeInfo-small shadow">
    <div class="col-sm-6">
        <img class="place-sm-photo" src="{{ asset('images/placeImage.png') }}">
    </div>
    <div class="col-sm-6 place">
        <h3><strong>{{ place.name }}</strong></h3>
        <text>{{ place.address }}</text><br>
    </div>
</div>