<div class="row groupInfo-small shadow">
    <div class="col-sm-6">
        <img class="photo-group" src="{{ asset('images/photo_group.png') }}">
    </div>
    <div class="col-sm-6">
        <h3><strong>{{ event.title }}</strong></h3>
        <text>{{ event.short }}</text>
    </div>
</div>