{%  extends "events/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}


{% block body %}

    <div class="west col-md-3">
        <div class="col-sm-12 datepicker-here" data-language='fr'></div>

        <div id="mamapass" class="col-sm-12">
            <div>
                <a href="/MamaPass" style="width: 100%; float: left;">
                    <img src="http://www.mamasound.fr/assets/4db236f61d2c2b779dee578374052121.jpg" width="100%" background-color="lightgrey">
                </a>
            </div>
            <div>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="events col-sm-12">

                {% for event in events %}

                    {% if event.type == "expo" %}
                        {% include "events/expo_cell.html.twig" %}
                    {% endif %}

                    {% if event.type == "concert" %}
                        {% include "events/concert_cell.html.twig" %}
                    {% endif %}

                    {% if event.type == "theatre" %}
                        {% include "events/theatre_cell.html.twig" %}
                    {% endif %}

                {% endfor %}

        </div>
    </div>

    <div class="east col-md-4">

            <div class="row">
                <div class="col-lg-12">
                    <div class="map">
                        <div id="mapid"></div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="placeInfo-small">
                        <img class="place-sm-photo" src="{{ asset('images/placeImage.png') }}">
                        <h3><strong>La petite scène</strong></h3>
                        <text>6 Rue de la Fontaine</text><br>
                        <text>34000 Montpellier</text><br>
                        <text>04 67 54 22 15</text>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div id="scene3D" class="group-small">
                        <img class="photo-group" src="{{ asset('images/photo_group.png') }}">
                        <h3><strong>Que Tengo</strong></h3>
                        <text>Fermez les yeux, aiguisez votre corps et laissez-vous emporter dans un univers de multiples sensations!
                        </text>
                    </div>
                </div>
            </div>


        </div>


{% endblock %}