{%  extends "events/layout.html.twig" %}

{% block title %}
	{{ parent()}} - concerts
{% endblock %}


{% block body %}
    <div class="events">
        <ul>
            {% for event in events %}
                {% if event.type == "expo" %}
                    <li>
                        {% include "events/expo_cell.html.twig" %}
                    </li>
                {% endif %}
                {% if event.type == "concert" %}
                    <li>
                        {% include "events/concert_cell.html.twig" %}
                    </li>
                {% endif %}
                {% if event.type == "theatre" %}
                    <li>
                        {% include "events/theatre_cell.html.twig" %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="east-2col">

        <div map>
            <div id="mapid"></div>
        </div>

        <div class="group-small">
            <img class="photo-group" src="{{ asset('images/photo_group.png') }}">
            <h3><strong>Ilé Trio Brazil</strong></h3>
            <text>Daniel Ilé, Guillaume Rodriguez & Vladimir Derevitsky.
                Samba forró reggae MPB bossa nova.
            </text>
        </div>


        <div class="placeInfo-small">



            <img class="map3d" src="{{ asset('images/map.png') }}">
            <h3><strong>La petite scène</strong></h3>
            <text>6 Rue de la Fontaine</text><br>
            <text>34000 Montpellier</text><br>
            <text>04 67 54 22 15</text>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    window.onload = function() {
    alert('script works');
    };

{% endblock %}