<div class="events  col-lg-12">
        {% for event in events %}

            {% if event.type == "expo" %}
                {% include "events/expo_cell.html.twig" %}
            {% endif %}

            {% if event.type == "concert" %}
                {% include "events/concert_cell.html.twig" %}
            {% endif %}

            {% if event.type == "theatre" %}
                {% include "events/theatre_cell.html.twig" %}
            {% endif %}

        {% endfor %}
</div>
