{# src/UserBundle/Resources/views/Security/logout.html.twig #}

    {# logout #}
    <form class="form-inline my-2 my-lg-0" action="{{ path('logout') }}" method="post">
        <text>TOTO{{ username }}</text>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
