{%  extends "base.html.twig" %}

{% block title %}
	{{ parent()}} - tous les concerts de Montpellier et alentours
{% endblock %}

{% block layout %}
	<h1> Concerts !</h1>
	{% block body %}
	{% endblock %}	
{% endblock %}